.custom-Editor{
    border:1px solid black;
    width: 25px !important;
    /* height: 25px !important; */
    padding: 0 !important;
    font-size: 10px !important;
    margin: 4px;
}

.editorOptions button{
    padding: 0 !important;
    background-color: #ffffff;
}
.editorOptions {
    text-align: center;
}
.labels{
    color: #2f2fa2;
    font-size: 11px;
    font-weight: bold;
}
